<?php

if (!function_exists('repl')) { 
    function repl($x,$y,$z=null){

        if(is_array($x) && $z === null) { 
        return str_replace(
            array_keys($x),
            array_values($x),
            $y
        );
        }
        return str_replace($x,$y,$z);
    }
}
class BtoolsExec {
    
    private function writeAnnotations($code, $data) {
        $previousKey = null;

        foreach ($data as $key => $value) {
            $replaced = 0;
            $code = preg_replace('~([\s#\/\/*]+@'.$key.'\s+)(.+)~', '${1}'.$value, $code, 1, $replaced);

            if ($replaced === 0) {
                // term not found
                $code = preg_replace('~([\s#\/\/*]+@)('.$previousKey.'\s+)(.+\n)~', '$1$2$3${1}'.$key.' '.$value, $code, 1, $replaced);

                if ($replaced === 0) {
                    throw new \Exception('Could not write annotation ' . $key);
                }
            }

            $previousKey = $key;
        }

        return $code;
    }

    private function extractAnnotations($code) {

        preg_match_all('~\s*(#|\/\/)\s+@([a-z]+)\s+(.+)~',$code, $matches);

        $annotations = [];

        for($i=0; $i<count($matches[0]); $i++) {
            $key = $matches[2][$i];
            $value = $matches[3][$i];

            // Store only the first occurence of a annotation.
            $annotations[$key] = $annotations[$key] ?? $value;
        }

        return $annotations;
    }

    function execute($code, $options = []) { 

        require_once __DIR__ . '/lib/DB.php';

        // om ervoor te zorgen dat je een "laatst opgesalgen hebt.."..
    
        // dev disable alf-parser
        //    if (class_exists('ALF_Parser')) { 
        //       $p = new ALF_Parser;
        //       ob_start();
        //       $p->setSource($_POST['code']);
        //       $_POST['code'] = $p->parse();
        //       $null = ob_get_clean();
        //    }

        restore_error_handler();
        restore_exception_handler();

        $autoloader = findClosestFile('vendor/autoload.php');

        if ($autoloader) {
            require_once $autoloader;
        }

        $bootstrap = findClosestFile(['bootstrap.php','bootstrap/cli.php','bootstrap/app.php']);
        if ($bootstrap) {
            require_once $bootstrap;
        }

        $view = '';

        ob_start();
            $code = trim($code);

            $lines = substr_count($code,"\n");
            $semicolons = substr_count($code,";");
            $eval = true;

            if (get_preg_match($code,'/^(EXPLAIN|SELECT|UPDATE|SHOW|DELETE|DROP|INSERT|REPLACE|DESCRIBE|TRUNCATE|ALTER) .+$/s')) {
                try { 
                    $data = DB::fetchAll($code);
                    $view = 'grid';
                } catch (\Exception $e) {
                    return ['error' => ['type' => 'SQLError', 'message' => "$e"]];
                }

                $eval = false;
            } elseif ($lines === 0 || $semicolons === 1) {
                if (strpos($code,';') === false) {
                    $code .= ';';
                }
                if (!get_preg_match($code,'/^(return|echo)[( ].+/')) {
                    $code = 'return ' . $code;
                }
            }

            $previousError = error_get_last();
            if ($eval) {
                $data = eval($code);
            }

        $string = ob_get_clean();

        $string = repl(array('<form ' => '<div ','</form>' => '</div>'), $string); 

        $json = isset($options['json'])?$options['json']:null;
        if ($json) { 
            $response = array();
            if ($view) {
                $response['view'] = $view;
            }
            if ($string > '') { 
                $response['content'] = $string;
            }
            $response['data'] = $data;

            if ($data === false) {
                if ($previousError === error_get_last()) {
                    // do nothing.
                } else {
                    $response['error'] = error_get_last();
                }
            } else {
                // do nothing.
            }

            return $response;
        } else {
            if ($data !== null) {
                echo '<pre>';ob_start('h'); print_r($data); ob_end_flush(); echo '</pre>' . PHP_EOL;
            }
        }
    }
}
?>


<template component="exec-result-grid" props="result">
    <my-table :data="result.data"></my-table>
</template>
<template url="/btools-exec">
    <div class="page-exec container-fluid">
        <h3>Een revival van het oude btools/exec</h3>
        <p>Van angular naar VueBlocks, Zonder ALF_Parser en zonder snippets</p>
        <hr>
        <div v-if="mode=='editor'" class="editor">
            <form @submit.prevent="submitCode" v-ctrl-s="submitCode">
                <code-editor v-model="code" :options="{
                    extraKeys: {
                        'Ctrl-Enter': submitCode,
                        'Cmd-Enter': submitCode,
                        'Ctrl-O': openScript
                    }
                }"></code-editor>
                <br>
                <div>
                    <div class="btn" @click="view='json'">JSON</div>
                    <div class="btn" @click="view='grid'">Grid</div>
                    <div class="btn" @click="view='html'">HTML</div>
                    <input class="pull-right" type="submit" value="Uitvoeren">
                </div>
            </form>


            <div v-if="result">
                <div 
                    v-if="view && componentExists('exec-result-' + view)" 
                    :is="'exec-result-' + view"
                    :result="result"
                >
                </div>
                <div v-else>
                    <div v-if="view == 'json'">
                        <pre v-if="result">{{result}}</pre>
                    </div>
                    <div v-else-if="view == 'html'">
                        <pre v-if="result" v-html="result.content"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .CodeMirror {
            font-size: 11pt;
        }
        .page-exec .editor textarea {
            width:100%; 
            height:250px; 
            font-family:mono,monospace; 
            font-size:11px;
        }
        .page-exec .editor .header { 
            padding: 4px;  
            margin-bottom: 10px; 
        }
        .page-exec .browser table {
            width: 100%;
        } 
        .page-exec input:disabled {
            color: #aaa;   
        }
    </style>
    <script>
        export default {
            data() {
                return {
                    mode: 'editor',
                    view: 'json',
                    code: '',
                    result: null
                }
            },
            computed: {
                
            },
            mounted() {
                this.link('code').to.localStorage('BtoolsExecCode');
                this.link('view').to.localStorage('BtoolsExecView');
            },
            methods: {
                async submitCode() {
                    this.result = await api.BtoolsExec.execute(this.code, {json: true});
                    if (this.result && this.result.view) {
                        this.view = this.result.view;
                    }
                },
                async openScript() {
                    dialog.dialog(`<div width=400 height=400 centered=true title="Open script">
                    
                    </div>`)
                },
                componentExists(component) {
                    return Vue.options.components[component] || false;
                },
            }
        }
    </script>
</template>
